node_modules/
npm-debug.log
yarn-error.log
yarn.lock


/build
/dist


.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.swn
*.user
*.log


.env
.env.local
.env.development.local
.env.test.local
.env.production.local


.DS_Store
Thumbs.db

data/