arcgis==2.1.0.3
beautifulsoup4==4.12.2
fiona==1.9.4
flask==2.3.2
flask-restx==1.1.0
functions_framework==3.4.0
geoalchemy2==0.14.1
geopandas==0.13.2
ipykernel==6.25.0
ipython==8.14.0
matplotlib==3.7.2
openai==0.27.8
pandas==2.0.3
plotly==5.15.0
prophet==1.1.4
psycopg2==2.9.6
pysal==23.7
requests==2.31.0
scikit-learn==1.3.0
seaborn==0.12.2
shapely==2.0.1
statsmodels==0.14.0
sqlalchemy==2.0.19